.cardId{
    justify-content: center;
    text-align: center;       
    margin: 0;
    padding: 20px;
    align-items: center;
    background-color: white;
}

.fondoId{
    background: linear-gradient(to right,#05046b,blue ,#cbda0498);
    justify-content: center;
    display: flex;
    padding: 20px;
}

.botonAdd{
    background-color: blue;
    color: bisque;
    border: none;
    padding: 0.5rem 1rem;
}

.botonRemove{
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-top: 5px;
}
  
.botonContador {
    color: var(--primary-color);
    width: 40px;
    height: 40px;
    border: 1px solid var(--border-color);
    font-size: 1.6rem;
    transition: all 250ms ease-out;
    margin: 5px;    
}
  
.botonContador:hover {
    border: none;
    color: var(--just-blue);
    background-color: blue;
}