.barra{
    background: linear-gradient(to right,rgb(0, 0, 117),rgb(0, 0, 117) ,rgb(0, 0, 117));
        
}

.txtBarra{
    color: bisque !important;;
}

.carrito{
    width: 500px;
    height: 100px;
}

.total{
    background-color: red;
    border-radius: 50%;
    padding: 4px 8px;
    color: white;
}

.lista{
    list-style: none;
}