.barra{
    background: linear-gradient(to right,rgb(0, 0, 117),rgb(0, 0, 117) ,rgb(0, 0, 117));
        
}

.txtBarra{
    color: bisque !important;;
}

.total{
    background-color: red;
    border-radius: 50%;
    padding: 4px 8px;
    color: white;
}

.carrito{
    font-size: x-large;
    
}

.lista{
    list-style: none;
}

.fondoCart{
    background-color: bisque;
}

.cartDesplegable {
    position: relative;
  }
  
.cartDesplegableHijo {
  position: absolute;
  top: 100%;
  left: -200px;
  z-index: 999;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 8px;
  width: 300px;
}