.estCam{
    width: 100%;
    height: auto;
    
}

.card{
    margin: 10px;
    width: 250px;

}

.boton{
    border-radius: 5px;
    background-color: blue;
}

.plantilla{
    justify-content: center
}

.fondo{
    background: linear-gradient(to right,#05046b,blue ,#cbda0498);
}

.botonBorrar{
    margin: 5px;
    background-color: red;
    color: white;
    border: 1px solid black;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.linkDetalle{
        color: black;
}

.botonAgregar{
    background-color: #007bff ;
    color: bisque;
    border: 1px solid black;
}